body{
    background-color: burlywood;
}
h1{
    text-align: center;
    color: rgb(255, 94, 0);
    font-size: 46px;
    display: inline;
    
}

a{
    font-size: 24px;
    text-decoration: none;
    color: rgb(173, 76, 7);
}

.img_heading{
    box-sizing: border-box;
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 25px;
    border: 5px solid black;

}
#photo{
    display: block;
}

#text{
    display: block;
}
ul, h2{
    margin-left: 15px;
}